<h1>Latest Out of Lebanon</h1>

<a class="articleURL" href="{{ this.articleURL }}">
  <div id="picture">
    <img src="{{ this.imgURL }}">
  </div>
</a>

<div id="nextArticle">
  <div id="buttons">
    <button id="next" data-id="{{ this._id }}">Next</button>
  </div>
</div>

<a class="articleURL" href="{{ this.articleURL }}">
  <div id="content">
    <h2>{{ this.title }}</h2>
    <p>{{ this.synopsis }}</p>
  </div>
</a>